<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <script>
            $(document).ready(function () {
                $('.message .close')
                    .on('click', function () {
                        $(this)
                            .closest('.message')
                            .transition('fade')
                        ;
                    });
            });
        </script>
        <div class="ui column" style="width: calc(100% - 75px)">
            <h1 class="ui dividing header">RedCheck</h1>
            <div class="ui container" style="width: 100%">
                <div class="ui relaxed divided items">
                    <div class="item">
                        <div class="ui small image">
                            {% if external_img %}
                                <img src="https://i.ibb.co/DVWwGcS/redcheck.png">
                            {% else %}
                                <img src="/static/images/redcheck.png">
                            {% endif %}
                        </div>
                        <div class="content">
                            <a class="header">RedCheck</a>
                            <div class="meta">
                                <a>Vulnerability scanner</a>
                            </div>
                            <div class="description">
                                RedCheck is a network vulnerability scanner with whitebox testing mode.
                            </div>
                            <div class="extra">
                                <a href="https://www.redcheck.ru/" class="ui right floated purple button" target="_blank" rel="noopener noreferrer">
                                    Official site
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <h2 class="ui header">Upload reports</h2>
                <form class="ui form" enctype="multipart/form-data" method="post" action="/project/{{ current_project['id'] }}/tools/redcheck/">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="two fields">
                        <div class="ui field">
                            <label>.csv reports:</label>
                            <input type="file" name="csv_files" placeholder="" multiple accept=".csv">
                        </div>
                        <div class="ui field">
                            <label>Hosts description:</label>
                            <input type="text" name="hosts_description" placeholder="Added from RedCheck scan" value="Added from RedCheck scan">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="ui field">
                        </div>
                        <div class="ui field">
                            <label>Hostnames description:</label>
                            <input type="text" name="hostnames_description" placeholder="Added from RedCheck scan" value="Added from RedCheck scan">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="ui field">
                            <button type="submit" class="ui button blue" style="margin-top: 20px;"><i class="plus icon"></i>Submit</button>
                        </div>
                        <div class="ui field">
                            <label>Ports description (if no other info):</label>
                            <input type="text" name="ports_description" placeholder="Added from RedCheck scan" value="Added from RedCheck scan">
                        </div>
                    </div>
                </form>
                {% if errors is defined and errors %}
                    <div class="ui error message visible">
                        <i class="close icon"></i>
                        <div class="header">
                            There were some errors with host
                        </div>
                        <ul class="list">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% elif errors is defined and not errors %}
                    <div class="ui success message visible">
                        <i class="close icon"></i>
                        <div class="header">
                            Successfully uploaded!
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>